<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="base_url" value="http://www.saucedemo.com"/>
		<add key="login_page_url" value ="https://www.saucedemo.com/inventory.html" />
		<add key="checkout_page_url" value ="https://www.saucedemo.com/cart.html" />
		<add key="checkout_info_url" value ="https://www.saucedemo.com/checkout-step-one.html" />
	</appSettings>
</configuration>